<mat-card>
  <h2 class="text-center">YOUR PROFILE DETAILS</h2>


  <mat-card-content>
    <div class="profile-wrapper">

      <img 
        src="assets/sadhguru.jpg"
        alt="profile image"
        width="150"
        class="profile-img"
      >

      <h1 class="mt20">{{user.firstName}}{{user.lastName}}</h1>

      <table class="table profile-table">
        <tr>
          <td>Username</td>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <td>User ID</td>
          <td>{{user.id}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <td>Role</td>
          <td>{{user.authorities[0].authority}}</td>
        </tr>
         <tr>
          <td>Status</td>
          <td>{{user.enabled}}</td>
        </tr>
      </table>

    </div>
  </mat-card-content>
 
  <mat-card-actions class="action-buttons">
  <button mat-raised-button color="primary">UPDATE</button>
  <button mat-raised-button color="accent">DELETE</button>
</mat-card-actions>

</mat-card>
