<mat-card class="quiz-card" *ngFor="let q of quizzes">

  <mat-card-header>
    <!--https://www.flaticon.com/-->
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title>
      {{ q.title }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ q.category.title }}
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <p>
        {{q.descreption}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" class="m2">Queston</button>
    <button mat-stroked-button color="primary" class="m2">Max Marks:{{q.maxMark}}</button>
    <button mat-stroked-button color="primary" class="m2">Questions:{{q.numberOfquestion}}</button>
     <button mat-flat-button color="primary"class="m2">Update</button>
     <button mat-flat-button color="primary">Attempt</button>
  </mat-card-actions>

</mat-card>

<div class="container text-center">
    <button mat-raised-button color="primary">Add New Quiz</button>
</div>