

.quiz-card {
  margin-bottom: 15px;
}

.m2{
    margin-right: 10px;;
}

.example-header-image {
  background-image: url("../../../../assets/exam.png");
  background-size: cover;
  background-position: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


