.signup-card {
  width: 450px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  display: block;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}
