.login-card {
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}
