<mat-card>
  <mat-action-list>
    <div mat-subheader>MENU</div>

    <button mat-list-item routerLink="/admin">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>HOME</span>
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>PROFILE</span>
    </button>

    <button mat-list-item routerLink="/admin/categories">
      <mat-icon matListItemIcon>list</mat-icon>
      <span matListItemTitle>CATEGORIES</span>
    </button>

    <button mat-list-item routerLink="/admin/add-category">
      <mat-icon matListItemIcon>add_circle_outline</mat-icon>
      <span matListItemTitle>ADD CATEGORIES</span>
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>quiz</mat-icon>
      <span matListItemTitle>QUIZZES</span>
    </button>

    <button mat-list-item routerLink="/admin/quizzes">
      <mat-icon matListItemIcon>add</mat-icon>
      <span matListItemTitle>ADD QUIZZES</span>
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>LOG OUT</span>
    </button>

  </mat-action-list>
</mat-card>
