<mat-toolbar color="primary">

 <button mat-icon-button aria-label="Menu" routerLink="/">
  <mat-icon>menu_book</mat-icon>
 </button>


  <span>EXAM PORTAL</span>

  <span class="spacer"></span>

  <!-- Right side buttons
 <a [routerLink]="'/login'" class="plain-btn">Login</a>
  <a [routerLink]="'/signup'" class="plain-btn">Register</a>

<button mat-button (click)="logout()">
  Logout
</button> -->

<!--before login-->

<ng-container *ngIf="!loginService.isLoggedIn()">
  <a [routerLink]="'/login'" class="plain-btn">Login</a>
  <a [routerLink]="'/signup'" class="plain-btn">Register</a>
</ng-container>

<!--after login-->

<ng-container *ngIf="loginService.isLoggedIn()">
  <span class="user-name">
    {{loginService.getUser()?.firstName}}
    
  </span>

    <a href="javascript:void(0)"
   class="plain-btn"
   (click)="logout()">
  Logout
</a>

</ng-container>

</mat-toolbar>
